#~/.config/systemd/user/thunderbird.service
#systemctl --user daemon-reload
#systemctl --user enable thunderbird.service
[Unit]
Description=Start Thunderbird (Flatpak)
After=default.target

[Service]
Type=simple
ExecStart=/bin/bash -c 'while [ ! -d "$XDG_RUNTIME_DIR" ]; do sleep 1; done; ex>
Restart=no
TimeoutStartSec=30

[Install]
WantedBy=default.target
